.hello-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./img.png') no-repeat;
  background-size: cover;
  overflow: hidden;
}

.animation {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mix-blend-mode: multiply;
}