.layout-row {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: var(--primary-color);
}

.layout-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layout-inner-wrapper {
  position: relative;
}

.language {
  position: absolute;
  top: 16px;
  right: 24px;
}
