.org {
  padding: 12px;

  :global(.ant-tree-node-content-wrapper):hover {
    background: var(--primary-color-1);
  }
}

.tree-node-options {
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms;
}

.tree-node {
  padding: 4px;

  &:hover {
    .tree-node-options {
      visibility: visible;
      opacity: 1;
    }
  }
}

.tree-node-title {
  font-weight: bold;
}

.tree-node-description {
  color: var(--font-color-grey);
  max-width: 400px;
}

.org-chart-outer {
  box-sizing: border-box;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+');
  border-radius: 12px;
  border: 1px solid var(--font-color-grey-3);
  position: relative;
}

.org-chart-inner {
  min-height: 600px;
  max-width: 100%;
  overflow: auto;
  padding: 24px;
}

.control-panel {
  position: absolute;
  top: 12px;
  right: 12px;
}

.org-chart {
  --tree-line-color: var(--primary-color) !important;
}

.org-card {
  width: 250px;
  position: relative;
  border-color: var(--primary-color);

  :global {
    .ant-card-body {
      background: #FFFFFF;
    }
  }

  &:hover {
    border-color: var(--primary-color);
  }

  .tree-node-title {
    padding: 12px 0;
    font-size: 16px;
  }

  .tree-node-description {
    padding: 12px;
    border-radius: 8px;
    background: var(--primary-color-1);
  }

  :global {
    .ant-card-head {
      background-color: var(--primary-color);

      .ant-btn-color-link {
        color: #FFFFFF;
      }
    }
  }
}

.org-btn {
  &:global(.ant-btn) {
    position: absolute;
  }

  bottom: -12px;
  left: calc(50% - 12px);
  z-index: 1;

  svg {
    background: #ffffff;
    border-radius: 50%;
  }
}
