.org {
  padding: 24px;
}

.tree-node-options {
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms;
}

.tree-node {
  &:hover {
    .tree-node-options {
      visibility: visible;
      opacity: 1;
    }
  }
}

.tree-node-title {
  font-weight: bold;
}

.tree-node-description {
  color: var(--font-color-grey);
  max-width: 400px;
}

.org-chart-outer {
  min-height: 600px;
  box-sizing: border-box;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+');
}

.org-chart {
  padding: 24px;
  --tree-line-color: var(--font-color-grey-2) !important;
}

.org-card {
  width: 250px;
  position: relative;
}

.org-btn {
  position: absolute;
  bottom: -12px;
  left: calc(50% - 12px);
  z-index: 1;

  svg {
    background: #ffffff;
    border-radius: 50%;
  }
}
